<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.alh.mapper.TimeMapper">

    <resultMap id="TimeResult" type="jp.alh.entity.TimeEntity">
	    <result column="id" property="id" />
   		<result column="minutes" property="minutes" />
    </resultMap>
    <select id="getAllTime" resultMap="TimeResult">
        select * from times
    </select>
</mapper>